pkgbase = pi-print-assistant
	pkgdesc = GTK4 print assistant with PDF preview, clipboard images, and reliable duplex printing
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/YoungJurry/pi-print-assistant
	arch = any
	license = MIT
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = gtk4
	depends = poppler-glib
	depends = python-pillow
	depends = python-reportlab
	depends = python-pypdf
	depends = cups
	depends = cups-filters
	depends = libreoffice-fresh
	depends = desktop-file-utils
	source = pi-print-assistant.py
	source = com.youngshine.PiPrintAssistant.desktop
	source = pi-print-assistant.svg
	source = README.md
	source = CHANGELOG.md
	source = LICENSE
	sha256sums = d6990f608290157a63054af8d5ebdcfbfad0130fd53f12f230d8ab597d5e0ca2
	sha256sums = 48cf909ad5013c45797e987e70836ea2165894ac331f321f854f5ec334e95bf9
	sha256sums = 59466f947822761b667c7d17f8d378a5891ded91cdc085074cb073219d60fb9a
	sha256sums = 5212a9f8528871ba6f9b68845796dc95dc4323569e7879f921aec58220af87f4
	sha256sums = 12264c3d8412f71df00e37028dfba85ad5d244a7203731bd5f4f9a3e11c56058
	sha256sums = a6ce45fafbc8cffc9b31a0ff49eda39ffbaf11f0e8b41e333f3fc9c472467237

pkgname = pi-print-assistant
